<div id="carouselExampleControls" class="carousel slide" data-ride="carousel"> <!-- carousel โดยใช้คลาส carousel slide และตั้ง id ชื่อ homeCarousel -->
<ol class="carousel-indicators">
	<li data-target="#carouselExampleControls" data-slide-to="0" class="active"></li>
	<li data-target="#carouselExampleControls" data-slide-to="1"></li>
	<li data-target="#carouselExampleControls" data-slide-to="2"></li>
</ol>
<div class="carousel-inner"> <!-- คลาส carousel-inner คือพื้นที่ภายใน carousel -->
	<div *ngFor="let i of carousel_items; let index = index" 
	class="carousel-item carousel-img" [ngClass]="{active: index==0}" >
	<img src="d-block w-100 h-100" [src]="i.img">
	 <div class="carousel-caption d-none d-md-block">
    <h5>{{ i.title }}</h5>
    <p>{{ i.description }}</p>
  </div>		
	</div>

<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
<span class="carousel-control-prev-icon" aria-hidden="true"></span>
<span class="sr-only">Previous</span>
</a>
<!--   เป็นปุ่มถอยหลัง (Previous) ใช้คลาส carousel-control-prev -->
<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
<span class="carousel-control-next-icon" aria-hidden="true"></span>
<span class="sr-only">Next</span>
</a>
<!-- เป็นปุ่มเดินหน้า (Next) ใช้คลาส carousel-control-next -->
<!-- ที่ href ระบุ id ของ carousel ที่ต้องการให้ปุ่มทำงาน ในที่นี้คือ homeCarousel -->
</div>
</div>
<div class="row mt-3 mb-3">
  <div class="card-columns" >
    <div class="card" *ngFor="let i of cards; let index = index">
      <img class="card-img-top" [src]="i.img">
      <div class="card-body">
        <h5 class="card-title">{{ i.title }}</h5>
        <p class="card-text">{{ i.description.short}}</p>
        <div class="text-right">
        <a href="#" data-toggle="modal" attr.data-target="#modal_{{ index }}" class="btn btn-danger">อ่านต่อ...</a> 
      </div>    
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade"
 *ngFor="let i of cards; let index = index" 
 id="modal_{{ index }}" >
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ i.title }}</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-4">
            <img class="w-100" [src]="i.img">
          </div>
          <div class="col-md-8">
            <p [innerHtml]=i.description.short></p>
            <hr>
            <p [innerHtml]=i.description.full></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

